.customers{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    vertical-align: middle;

}

h2,h4,input,label {
    font-family: Arial, Helvetica, sans-serif;
}

input,select {
    height: 30px;
    margin: 5px;
}

.customers td {
    border: 1px solid #ddd;
    padding: 8px;
}

.customers tr:nth-child(even){
    background-color: #f2f2f2;
}

.customers tr:hover {background-color: #ddd;}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}


button {
    color: #ffffff;
    background-color: #9b9b9b;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    margin: 10px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

button:hover {
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
}

.button1 loading{
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    border-top: 2px solid #1D9AF2;
    border-right: 2px solid transparent;
    border-bottom:none;
    border-left:none;
    animation: spinner5 700ms linear infinite;
}
@keyframes spinner5 {
    to {
        transform: rotate(360deg);
    }
}


/* Change color on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

/* !*Style the content*!*/
.center {
    /*margin-left: 10%;*/
    padding-left: 11%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 80%;
}

.bg{
    background-image: url(./bg.png);
    background-size: cover;
    background-attachment: fixed;
}

.transform {
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1s ease;
    opacity : 0;
    width: 80%;
}

.transform-active {
    opacity : 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding-left: 10px;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1s ease;
}

.transform-claim {
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1s ease;
    opacity : 0;
}

.transform-active-claim {
    opacity : 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding-left: 10px;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1s ease;
}



/*.divform{*/
/*    !*transition: width 2s;*!*/
/*    transition-timing-function: ease-in-out;*/
/*}*/


